/*
색상코드
주황색:#ff9f1c
연한주황색:#ffbf69
연한민트색:#cbf3f0
민트색:2ec4b6
*/
html,body{
	margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper{
	overflow: auto;
	width:100%;
	height: 100%;
	background-position: center;
	background-image: url("../images/test.PNG");
    background-repeat : no-repeat;
    background-size : cover;
	/*border:1px solid gray;/*/
}
.container-right:after,.wrapper:after,.container:after{ 
	content:""; 
	clear:both; 
	display:block; 
}
.container{
	width:1850px;
}
#container-left{
	float:left;
	/*border:1px solid gray;*/
	width:1000px;
	height:870px;
	text-align: center;
}
#container-left>.model{
	position: relative;
	top:150px;
	width:500px;
	height: 714px;
	/*border:1px solid gray;*/
	display: inline-block;
}
.drop>img{
	width: 100%;
	height: 100%;
}
#topDrop,.item-top>img{
	width:270px;
}
#bottomDrop,.item-bottom>img{
	width:155px;
}
#topDrop,#bottomDrop{
	/*border: 1px solid gray;*/
	height: 155px;
	position:absolute;
	border-radius: 10px;
}
.model>img{
	width: 100%;
	height: 100%;
}

#container-right{
	/*border:2px solid #ff9f1c;*/
	height:870px;
	border-radius: 30px;
	width:750px;
	float:right;
}

#menu-container{
	float:left;
	/*margin:20px auto;*/
	border-radius: 25px;
	border:1px solid black;
	/*background-color: #ffffff;*/
	width:20%;
	/*height:100px;*/
}

.menu{
	margin-bottom: 20px;
	border:1px solid black;
	width: 100%;
	height: 100px;
}
.menu>img,.menu{
	border-radius: 25px;
}
.menu>img{
	width: 100%;
	height: 100%;
}
#item-container{
	float:right;
	height: 70%;
}
.row{
	margin-bottom:15px;
	text-align: center;
}
.item,.item>img{
	border-radius: 10px;
	height: 155px;
}
.item{
	background-color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	/*position: relative;*/
	/*border: 1px solid #ffffff;*/
}
.item>img{
	/*position: absolute;*/
	/*left: 0px;*/
	/*display: flex;*/
	opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    cursor: pointer;
    touch-action: none;
    user-select: none;
	z-index: 1;
}
.item-top{

}
/*.drag
{
	position:absolute; 
	left:0px; 
	top:0px; 
	cursor:pointer; 
	cursor:hand;
}
*/